#capacity {
    background-color: #f5f5f5;
}

/*顶部导航*/
#capacity .top {
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#capacity .top h2 {
    font-size: 24px;
    font-weight: normal;
}

#capacity .top .right ul {
    display: flex;
}

#capacity .top .right ul li a {
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
}

#capacity .top .right ul li a.active,
#capacity .top .right ul li a:hover {
    color: rgb(253, 103, 33);
    border-bottom: 3px solid rgb(253, 103, 33);
}

/*左侧广告*/
#capacity .left a,
#capacity .left img {
    width: 230px;
    height: 300px;
    display: block;
    margin-bottom: 20px;
}

#capacity .left a:hover,
#capacity .left img:hover {
    box-shadow: 3px 3px 5px #dddddd;
    transform: translate(0, -3px);
    cursor: pointer;
}

/*右侧产品列表*/
#capacity .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#capacity .bottom .right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
}

#capacity .bottom .right .box {
    position: relative;
    width: 234px;
    height: 300px;
    background-color: #fff;
    text-align: center;
}

#capacity .bottom .right .box button,
#capacity .bottom .right .box img,
#capacity .bottom .right .box div.desc {
    position: absolute;
}

#capacity .bottom .right .box button {
    width: 64px;
    height: 20px;
    background-color: rgb(229, 57, 53);
    color: white;
    top: 7px;
    left: 87px;
}

#capacity .bottom .right .box img {
    display: block;
    width: 150px;
    height: 150px;
    top: 29px;
    left: 47px;
}

#capacity .bottom .right .box div.desc {
    top: 188px;
    left: 24px;
}

#capacity .bottom .right .box div.desc h3 {
    color: #333333;
    font-size: 14px;
}
#capacity .bottom .right .box div.desc p.desc{
    color: #b0b0b0;
    font-size: 12px;
    padding-top: 10px;
}
#capacity .bottom .right .box div.desc p.price{
    padding-top: 10px;
    font-size: 12px;
}
#capacity .bottom .right .box div.desc p.price .new{
    color: #ff6700;
    margin-right: 5px;
}

#capacity .bottom .right .box div.desc p.price span.old s{
    color: #b0b0b0;
}

/*鼠标悬停*/
#capacity .bottom .right .box:hover{
    box-shadow: 3px 3px 5px #b0b0b0;
    transform: translate(0,-3px);
    cursor: pointer;
}